@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
body {
        @media screen and (max-width: 900px ) {
        .media-1  {
            font-size: 38px;
        }
        .media-2 {
            font-size: 28px;
        }
        .media-3 {
            font-size: 18px;
        }
    }
    
    @media screen and (max-width: 400px ) {
        .media-1  {
            font-size: 28px;
        }
        .media-2 {
            font-size: 18px;
        }
        .media-3 {
            font-size: 12px;
        }
    }
    
}
.name2 {
    color:#0000ff;
    font-weight:bold;
}
.detail{
    color:#000;
    font-weight:bolder;
    background-color:rgba(0,255, 0, 0.8);
}
.navbar-nav li a {
  display: inline-block;
  list-style-type: none;
  background-color:none;
  color:#333;
}
.scroll-bar {
  overflow-x: auto;
  white-space: nowrap;
  margin:0;
}
.navbar-list {
  display: inline-block;
  margin-top:5px;
  padding:0;
  list-style-type: none;
  background-color:#333;
}
.navbar-list li {
  display: inline-block;
  margin:5px;
}

.navbar-list li a {
  display: inline-block;
  padding:5px 10px;
  text-decoration: none;
  color: #fff;
  border: 1px solid none;
  border-radius:5px;
}

.navbar-list li a:hover {
  background-color: #333;
  color: #fff;
}
footer {
  background-color: none;
  color: #fff;
  padding: 0;
  margin:0;
  text-align: left;
}
.social-icons{
    position: center ;
    right:5%;
    top:5%;
}
.social-icons i{
    padding:9px;
    margin:0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align:center ;
    display:inline-flex;
    align-items: center;
    transition: 0.5s;
}
.rm{
    font-size:14px;
  }
